<div class="list-phone">
    {{#each valueCallBack}}
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="thumbnail" style="height: 320px">
                    <img src="images/Dien_thoai/{{this.fileImage}}" alt="" class="img-responsive image_site">
                    <div class="caption">
                        <h4 class="text-primary"><span>{{this.Ten}}</span></h4>
                        <div name="Ma_so" value="{{this.Ma_so}}"></div>
                        <span class="text-danger">Price: <span>{{this.Don_gia_Ban}}</span>  VND</span><br>
                        <a type="button" class="btn btn-primary" href="/delete/{{this.Ma_so}}">Delete</a>
                    </div>
                </div>
            </div>
    {{/each}}
</div>
<script>
    function Showconfirm(Ma_so)
    {
        if (confirm("Do you really want to delete this product ?")) {
            window.location.href = "/delelte?id="+Ma_so;
        }
    }
</script>
