<div class="list-phone">
    {{#each valueCallBack}}
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="thumbnail" style="height: 320px">
                <img src="images/Dien_thoai/{{this.fileImage}}" alt="" class="img-responsive image_site" >
                <div class="caption">
                    <h4 class="text-primary" name="Ma_so"><span>{{this.Ma_so}}</span></h4>
                    <h4 class="text-primary" id="Ten"><span>{{this.Ten}}</span></h4>
                    <span class="text-danger" id="Don_gia_Ban">Price: <span>{{this.Don_gia_Ban}}</span>   VND</span><br>
                    <a href="/{{this.Ma_so}}" class="btn btn-primary">Update</a>
                    <a href="/delPhone" name="delete" id="Xoa" class="btn btn-primary">Delete</a>
                </div>
            </div>
        </div>

    {{/each}}
</div>
<!--<script>-->
    <!--Xoa.onclick = () => {-->
        <!--fetch('delPhone', {-->
            <!--method: 'delete',-->
            <!--headers: {'Content-Type':'application/json'},-->
            <!--body:JSON.stringify({-->
                <!--'Ma_so':Ma_so.value,-->
            <!--})-->
        <!--}).then(response=>{-->
            <!--window.location.reload();-->
        <!--});-->
    <!--};-->
<!--</script>-->

<!--<div class="row">-->
<!--<div class="col-md-4">-->
<!--<h2>List Phone</h2>-->
<!--<ul>-->
        <!--{each valueCallBack}}-->
<!--<li onclick="hienThiDienThoaiSua(JSON.stringify{this}})">-->
<!--<span>{this.Ma_so}}</span>-->
<!--<span>{this.Ten}}</span>-->
<!--<span>{this.Don_gia_Ban}}</span>-->
<!--</li>-->

        <!--{each}}-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<h2>Update Phone</h2>-->
<!--<input type="text" placeholder="Mã số " class="form-control" name="Ma_so" id="Ma_so" >-->
<!--<input type="text" placeholder="Tên điện thoại" class="form-control" name="Ten" id="Ten">-->
<!--<input type="text" placeholder="Đơn giá bán " class="form-control" name="Don_gia_Ban" id="Don_gia_Ban">-->
<!--<div id="Cap_nhat" class="fa fa-edit btn btn-sm btn-outline-primary"> Cập nhật giá</div>-->
<!--<div id="Xoa" class="fa fa-remove btn btn-sm btn-outline-primary"> Xóa Điện thoại</div>-->
<!--</div>-->
<!--</div>-->
